<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Ye olde azure voyage">
    <meta name="author" content="Cap'n Codebeard">

    <title>Azure App Service - Sample Static HTML Site</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <div class="navbar-wrapper">
      <div class="container">
        <h1 style="font-family: 'Pirata One', cursive; color: #006400;">
          ⚓️ Azure App Service - Sample Static HTML Site ⚓️
        </h1>
        <hr />
      </div>
    </div>

    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <img class="img-rectangle" src="img/azure-portal.png" alt="Azure App Service Web Apps" height="140">
          <h2 style="font-family: 'Pirata One', cursive; color: #2F4F4F;">
            Azure App Service Web Apps
          </h2>
          <p style="font-size: 16px; line-height: 1.6;">
            Avast, ye landlubbers! Behold the mighty <strong>Azure App Service Web Apps</strong>, a fully managed compute platform, crafted by the sea gods themselves, optimized for hosting websites and web applications as fine as any treasure map! This platform-as-a-service (PaaS) offering of the great Microsoft Azure allows ye to focus on yer grand business logic while Azure handles the infrastructure, ensuring yer apps run and scale like a galleon with the wind at its back.
          </p>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
      window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>');
    </script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
